/* Enter your custom styles here */

@media print {
    /* Ajusta la cabecera */
    .sapUxAPObjectPageHeader {
        position: relative !important;
        display: block !important;
    }

    /* Oculta elementos innecesarios */
    .sapMBar, .sapMBtn, .sapUshellShellHeader, .sapUshellAnchorBar {
        display: none !important;
    }

    /* Ajusta el contenido para ocupar toda la página */
    .sapUxAPObjectPageLayout {
        width: 100% !important;
        padding: 20px !important;
    }

    /* Asegura que las imágenes sean visibles y de buen tamaño */
    img {
        max-width: 100%;
        height: auto;
    }

    /* Evita que el contenido se corte al imprimir */
    body {
        overflow: visible !important;
    }

    @page {
        margin: 0;
    }
    
}
